<div class="crm">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>CRM</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <p>{{"crm_text1" | translate}}</p>
                <p>{{"crm_text2" | translate}}</p>
                <p>{{"crm_text3" | translate}}</p>
                <p>{{"crm_text4" | translate}}</p>

                <h2>{{"crm_title1" | translate}}</h2>

                <p>{{"crm_text5" | translate}}</p>

            </div>
        </div>
    </div>


    <footer-block></footer-block>


</div>