<div class="provider">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'homepage_solution_item5_title' | translate}}</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <p>{{"provider_text1" | translate}}</p>
                <p>{{"provider_text2" | translate}}</p>
                <p>{{"provider_text3" | translate}}</p>
                <ul>
                    <li>{{"provider_list1_item1" | translate}}</li>
                    <li>{{"provider_list1_item2" | translate}}</li>
                    <li>{{"provider_list1_item3" | translate}}</li>
                    <li>{{"provider_list1_item4" | translate}}</li>
                </ul>
                <p>{{"provider_text4" | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>