<div class="privacy">

    <header-block></header-block>

    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'footer_privacy' | translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>

    <div class="main_section text" id="section">
        <div class="container">
            <div>
                <p>{{'privacy_text_1' | translate}}</p>
                <p>{{'privacy_text_2' | translate}}</p>
                <p>{{'privacy_text_3' | translate}}</p>
                <p>{{'privacy_text_4' | translate}}</p>
                <p>{{'privacy_text_5' | translate}}</p>
                <p>{{'privacy_text_6' | translate}}</p>
                <p>{{'privacy_text_7' | translate}}</p>
                <p>{{'privacy_text_8' | translate}}</p>
                <p>{{'privacy_text_9' | translate}}</p>
                <p>{{'privacy_text_10' | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>