
body {
  font-size: 14px;
  font-family: $Nunito;
  line-height: 1.42857;
  color: #384656;
}

::-webkit-scrollbar {
  width: 0px;
}

a,
button {
  cursor: pointer;
}

select:focus,
a:focus,
button:focus {
  outline: none;
}

.main_button {
  border: 1px solid #ffffff;
  width: 180px;
  height: 43px;
  box-sizing: border-box;
  padding: 12px 24px 11px;
  border-radius: 40px;
  display: inline-block;
  background-color: transparent;
  transition: background-color ease 0.4s;
  font: {
    family: 'Open Sans', sans-serif;
    weight: 700;
    size: 13px;
  }
  line-height: 1;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  &.primary {
    border: none;
    background-color: #6760fa;

  }
  &.inverted {
    border: 1px solid #6760fa;
    color: #6760fa;
  }
  &.light {
    border: none;
    background-color: #ffffff;
    color: #6760fa;
  }

}

.main_button:hover {
  background-color: rgba(151, 150, 255, 0.68);
  &.primary {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);

  }
}

.main_header {
  background: {
    image: url("../../content/img/bg_main.png");
    size: cover;
    position: bottom;
  }
  height: 630px;
  width: 100%;
  .container {
    div {
      padding-top: 200px;
      width: 600px;
      text-align: center;
      h2, p {
        color: #ffffff;
      }
      h2 {
        font: {
          size: 70px;
          family: $Nunito;
        }
      ;
      }
      div.effect-scroll {
        padding-top: 0 !important;
      }
      p {
        font: {
          size: 20px;
        }
      ;
      }
      .main_button:nth-child(4) {
        margin-left: 40px;
      }
    }
  }

}

.main_section {
  .container {

    padding: 100px 0;
  }

  &.text {
    .container {
      h1, h2 {
        margin: 55px auto;
        text-align: center;
      }
      h1:nth-child(1) {
        margin-top: 0;
      }
      p {
        line-height: 23px;
      }
      ul {
        padding-left: 20px;
        margin-bottom: 40px;

        li {
          margin: 5px 0;
        }
      }

    }

  }
  &.contact {
    .container {
      padding-bottom: 40px;
      .address {
        div {

          div {
            width: 300px;
            height: 160px;
            border: 2px dashed #e6e6e6;
            background: white;
            box-sizing: border-box;
            margin: 20px 0;
            div {
              margin: 0;
              border: none;
              h3 {
                font: {
                  size: 24px;
                }
              ;
                margin: 35px 0 0;
              }
              div {
                height: 3px !important;
                width: 45px !important;
                background: $purple;
                border: none;
              }
              a {
                margin: 8px 0;
                color: #6760fa;
                text-decoration: none;
              }
              a:hover {
                text-decoration: underline;
              }

            }

          }

        }
      }
      form {
        width: 100%;
        md-input-container {
          margin: 5px 0 !important;
          width: 300px;
          input, textarea {
            background: white;
            border: 1px solid #e6e6e6;
            padding: 20px 16px;
            border-radius: 5px;
          }

        }
        md-input-container:nth-child(2),
        md-input-container:nth-child(5) {
          margin: 5px 24px !important;
        }
        md-input-container:nth-child(6) {
          width: 100%;
          textarea {
            width: 100%;
          }
        }

        .send_button {
          display: flex;
          align-self: center;
          flex-direction: column;
          margin: 0 auto;
        }

      }
    }
    .container > div:nth-child(1) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

.container {

  margin: 0 auto;
}

//media

@media (min-width: 1500px) {
  .container {
    width: 1440px;
  }
  .main_section {
    .container {
      width: 960px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 1170px;
  }
  .main_section {
    .container {
      width: 960px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .main_section {
    .container {
      width: 960px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .main_section {
    .container {

    }
    &.contact {
      .container {
        .address {
          div {
            display: flex;
            flex-direction: column;
            div {
              width: 100%;
              display: inherit;
              flex-direction: row;
              div {
                flex-direction: column;
              }
            }

          }
        }
        form {
          md-input-container {
            width: 100% !important;
            //margin: 5px 0 !important;
          }
          md-input-container:nth-child(2),
          md-input-container:nth-child(5) {
            margin: 5px 0px !important;
          }
        }

      }
    }
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .container {
    width: 500px;
  }
  .main_section {
    .container {

    }
    &.contact {
      .container {
        .address {
          div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            div {
              width: 100%;

            }

          }
        }
        form {
          md-input-container {
            width: 100% !important;
            //margin: 5px 0 !important;
          }
          md-input-container:nth-child(2),
          md-input-container:nth-child(5) {
            margin: 5px 0px !important;
          }
        }

      }
    }
  }
}

@media (max-width: 540px) {
  .container {
    width: 310px;
  }
  .main_section {

    &.text {
      .container {
        p, li {
          text-align: justify;
        }
      }
    }
    &.contact {
      .container {
        .address {
          div {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            div {
              width: 100%;

            }

          }
        }
        form {
          md-input-container {
            width: 100% !important;
            //margin: 5px 0 !important;
          }
          md-input-container:nth-child(2),
          md-input-container:nth-child(5) {
            margin: 5px 0px !important;
          }
        }

      }
    }
  }

}