<div class="terms">

    <header-block></header-block>

    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'footer_terms' | translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>

    <div class="main_section text" id="section">
        <div class="container">
            <div>
                <h2>{{'terms_content_title' | translate}}</h2>
                <p>{{'terms_text_1' | translate}}</p>
                <h2>{{'terms_title_1' | translate}}</h2>
                <p>{{'terms_text_1_1' | translate}}</p>
                <ul>
                    <li>{{'terms_li_1' | translate}}</li>
                    <li>{{'terms_li_2' | translate}}</li>
                    <li>{{'terms_li_3' | translate}}</li>
                    <li>{{'terms_li_4' | translate}}</li>
                    <li>{{'terms_li_5' | translate}}</li>
                </ul>
                <p>{{'terms_text_1_2' | translate}}</p>
                <h2>{{'terms_title_2' | translate}}</h2>
                <p>{{'terms_text_2_1' | translate}}</p>
                <p>{{'terms_text_2_2' | translate}}
                </p>
                <h2>{{'terms_title_3' | translate}}</h2>
                <p>{{'terms_text_3_1' | translate}} </p>
                <p>{{'terms_text_3_2' | translate}}</p>
                <h2>{{'terms_title_4' | translate}}</h2>
                <p>{{'terms_text_4_1' | translate}}</p>
                <p>{{'terms_text_4_2' | translate}}</p>
                <p>{{'terms_text_4_3' | translate}}</p>
                <p>{{'terms_text_4_4' | translate}}</p>
                <p>{{'terms_text_4_5' | translate}}</p>
                <h2>{{'terms_title_5' | translate}}</h2>
                <p>{{'terms_text_5_1' | translate}}</p>
                <p>{{'terms_text_5_2' | translate}}</p>
                <p>{{'terms_text_5_3' | translate}}</p>
                <p>{{'terms_text_5_4' | translate}}</p>
                <p>{{'terms_text_5_5' | translate}}</p>
                <h2>{{'terms_title_6' | translate}}</h2>
                <p>{{'terms_text_6_1' | translate}}</p>
                <h2>{{'terms_title_7' | translate}}</h2>
                <p>{{'terms_text_7_1' | translate}}</p>

                <h2>{{'terms_title_8' | translate}}</h2>
                <p>{{'terms_text_8_1' | translate}}</p>
                <h2>{{'terms_title_9' | translate}}</h2>
                <p>{{'terms_text_9_1' | translate}}</p>
                <h2>{{'terms_title_10' | translate}}</h2>
                <p>{{'terms_text_10_1' | translate}}</p>
                <p>{{'terms_text_10_2' | translate}}</p>
                <p>{{'terms_text_10_3' | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>