<div class="policy">

    <header-block></header-block>

    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'footer_policy' | translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>

    <div class="main_section text" id="section">
        <div class="container">
            <div>
                <h2>{{'policy_title_1' | translate}}</h2>
                <p>{{'policy_text_1' | translate}}</p>
                <h2>{{'policy_title_2' | translate}}</h2>
                <p>{{'policy_text_2' | translate}}</p>
                <p>{{'policy_text_3' | translate}}</p>
                <p>{{'policy_text_4' | translate}}</p>
                <p>{{'policy_text_5' | translate}}</p>
                <h2>{{'policy_title_3' | translate}}</h2>
                <p>{{'policy_text_6' | translate}}</p>
                <h2>{{'policy_title_4' | translate}}</h2>
                <p>{{'policy_text_7' | translate}}</p>
                <h2>{{'policy_title_5' | translate}}</h2>
                <p>{{'policy_text_8' | translate}}</p>
                <h2>{{'policy_title_6' | translate}}</h2>
                <p>{{'policy_text_9' | translate}}</p>
                <h2>{{'policy_title_7' | translate}}</h2>
                <p>{{'policy_text_10' | translate}}</p>
                <h2>{{'policy_title_8' | translate}}</h2>
                <p>{{'policy_text_11' | translate}}</p>
                <h2>{{'policy_title_9' | translate}}</h2>
                <p>{{'policy_text_12' | translate}}</p>

            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>