<div class="liquidity">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'homepage_solution_item3_title' | translate}}</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <h1>{{"liquidity_title1" | translate}}</h1>
                <p>{{"liquidity_text1" | translate}}</p>
                <p>{{"liquidity_text2" | translate}}</p>
                <ul>
                    <li>{{"liquidity_list1_item1" | translate}}</li>
                    <li>{{"liquidity_list1_item2" | translate}}</li>
                    <li>{{"liquidity_list1_item3" | translate}}</li>
                </ul>
                <p>{{"liquidity_text3" | translate}}</p>


                <h2>{{"liquidity_title2" | translate}}</h2>
                <p>{{"liquidity_text4" | translate}}</p>
                <p>{{"liquidity_text5" | translate}}</p>
                <ul>
                    <li>{{"liquidity_list2_item1" | translate}}</li>
                    <li>{{"liquidity_list2_item2" | translate}}</li>
                    <li>{{"liquidity_list2_item3" | translate}}</li>
                </ul>


                <h2>{{"liquidity_title3" | translate}}</h2>
                <p>{{"liquidity_text6" | translate}}</p>

                <ul>
                    <li>{{"liquidity_list3_item1" | translate}}</li>
                    <li>{{"liquidity_list3_item2" | translate}}</li>
                    <li>{{"liquidity_list3_item3" | translate}}</li>
                    <li>{{"liquidity_list3_item4" | translate}}</li>
                </ul>



                <h2>{{"liquidity_title4" | translate}}</h2>
                <p>{{"liquidity_text7" | translate}}</p>

                <ul>
                    <li>{{"liquidity_list4_item1" | translate}}</li>
                    <li>{{"liquidity_list4_item2" | translate}}</li>
                    <li>{{"liquidity_list4_item3" | translate}}</li>
                    <li>{{"liquidity_list4_item4" | translate}}</li>
                </ul>
                <p>{{"liquidity_text8" | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>