<div class="auto_risk">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'homepage_solution_item7_title' | translate}}</h2>

            </div>
        </div>
    </div>


    <div class="main_section text">
        <div class="container">
            <div>
                <p>{{"auto_risk_text1" | translate}}</p>
                <p>{{"auto_risk_text2" | translate}}</p>
                <p>{{"auto_risk_text3" | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>