<div class="ecn">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>ECN</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <p>{{"ecn_text1" | translate}}</p>
                <p>{{"ecn_text2" | translate}}</p>
                <p>{{"ecn_text3" | translate}}</p>

                <h1>{{"ecn_title1" | translate}}</h1>
                <p>{{"ecn_text4" | translate}}</p>
                <p>{{"ecn_text5" | translate}}</p>
                <p>{{"ecn_text6" | translate}}</p>
                <p>{{"ecn_text7" | translate}}</p>
                <p>{{"ecn_text8" | translate}}</p>
                <p>{{"ecn_text9" | translate}}</p>
                <p>{{"ecn_text10" | translate}}</p>
                <p>{{"ecn_text11" | translate}}</p>
            </div>
        </div>
    </div>


    <footer-block></footer-block>


</div>