<div class="kyc">

    <header-block></header-block>

    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'footer_kyc' | translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>

    <div class="main_section text" id="section">
        <div class="container">
            <div>
                <p>{{'kyc_text_1' | translate}}</p>
                <h2>{{'kyc_title_1' | translate}}</h2>
                <p>{{'kyc_text_2' | translate}}</p>
                <h2>{{'kyc_title_2' | translate}}</h2>
                <p>{{'kyc_text_3' | translate}}</p>
                <p>{{'kyc_text_4' | translate}}</p>
                <p>{{'kyc_text_5' | translate}}</p>
                <p>{{'kyc_text_6' | translate}}</p>
                <h2>{{'kyc_title_3' | translate}}</h2>
                <p>{{'kyc_text_7' | translate}}</p>
                <p>{{'kyc_text_8' | translate}}</p>
                <p>{{'kyc_text_9' | translate}}</p>
                <p>{{'kyc_text_10' | translate}}</p>
                <p>{{'kyc_text_11' | translate}}</p>
                <p>{{'kyc_text_12' | translate}}</p>
                <p>{{'kyc_text_13' | translate}}</p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>