<div class="about">

    <header-block></header-block>

    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>{{'about' | translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>


    <div class="main_section text"  id="section">
        <div class="container">
            <div>
                <p>{{'about_text1' | translate}}</p>

            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>