<div class="homepage" >

    <header-block></header-block>


    <div class="main_header">
        <div class="container" layout="row" layout-align="center center">
            <div id="anchor">
                <h2>{{"homepage_title" |translate}}</h2>
                <effect-scroll></effect-scroll>
            </div>
        </div>
    </div>

    <div class="homepage_section solution" id="section" >
        <h2>{{'homepage_solution_title' | translate}}</h2>
        <div class="container" layout="row" layout-align="space-around center" layout-wrap>
            <div class="solution_item" ng-repeat="item in vm.solutionList">
                <img src="{{item.image}}" alt="">
                <h3>{{item.title | translate}}</h3>
                <p>{{item.text | translate}}</p>
                <button class="main_button inverted" ui-sref="{{item.link}}">{{'homepage_solution_detail' | translate}}</button>
            </div>

        </div>
    </div>

    <div class="homepage_section take_it">
        <div class="container" layout="row" layout-align="space-between center">
            <div></div>
            <div>
                <!--<span>for free!</span>-->
                <h3>{{'homepage_take_it_title' | translate}}</h3>
                <p>{{'homepage_take_it_text' | translate}}</p>
                <button class="main_button inverted">{{'homepage_get_started' | translate}}</button>
            </div>
        </div>
    </div>

    <!--<logo-block></logo-block>-->

    <div class="homepage_section get_started">
        <div class="container" layout="column" layout-align="space-around center">
            <div>
                <h3>{{'homepage_get_started_title'|translate}}</h3>
                <p>{{'homepage_get_started_text'|translate}}</p></div>
            <div>
                <button class="main_button light">{{'homepage_get_started'|translate}}</button>
            </div>
        </div>
    </div>
    <footer-block></footer-block>


</div>